.pagina {
    background-image: url(../img/bg.jpg);
}

.contents {
    width: 1000px;
    margin: auto;
}

/* LOGO E TITOLO DELLA PAGINA ---------------------- */

header {
    width: 1000px;
    height: 100px;
    border-bottom: 1.5px solid #fff;
    overflow: hidden;   
}

#logo {
    width: 100px;
    vertical-align: middle;
}

h1 {
    display: inline-block;
    color: #fff;
}


/* INPUT PER LA RICERCA DELLE EMAIL ---------------- */

.info {
    width: 1000px;
    height: 100px;
    margin-top: 10px;
    border-bottom: 1.5px solid #fff;
    overflow: hidden;
}

#unreadMess {
    font-size: 25px;
    color: #fff;
}

span {
    padding: 1.5%;
    border-radius: 100%;
    background-color: darkorange;
}


/* LISTA DELLE EMAIL ARRIVATE ---------------------- */

.messaggi {
    width: 1000px;
    height: 140px;
    margin-top: 10px;
    border-bottom: 1.5px solid #fff;
}

.preview {
    width: 1000px;
    height: 27px;
    border: 1px solid #000;
    background-color: lightgrey;
    font-size: 16px;
}

.contenuto {
    display: inline-block;
    margin-top: -5px;
    color: dimgrey;
}

.black {
    color: #000;
}

#prev2 {
    background-color: #fff;
}


/* PIE' DI PAGINA -------------- */

footer {
    width: 1000px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    color: #fff;
}